<html>
    <head>
        {% if title %}
        <title>{{ title }} - COVID-19</title>
        {% else %}
        <title>COVID-19 Q/A</title>
        {% endif %}
    </head>
    <body>
        <div>

            <h2>COVID-19 Q/A</h2>
            <a href="/home">Home</a>
            <a href="/users">User accounts</a>
        

        </div>
        <h2>Search</h2>
        <form action={{url_for('search_post')}} method="get" novalidate>
            <input type="text" name="search" placeholder="search...">
        </form>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>