{% extends "base.html" %}

{% block content %}
    <h1>Welcome</h1>
    <button onclick=window.location.href="{{ url_for('modify_password',user_id=userid) }}">Change Password</button>
    <button onclick=window.location.href="{{ url_for('user_logout') }}">Logout</button>
    <button onclick=window.location.href="{{ url_for('delete_user_ac', user_id=userid) }}">Delete Account</button>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=120) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=1000) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h1>Your questions</h1>
    {% if "message" in user_questions %}
    <div><h3>{{user_questions['message']}}</h3></div>
    {% else %}
    {% for each_question in user_questions.values() %}
    {% for each in each_question%}
      
        <div><p><b>Title: {{ each['title'] }}</b> <br> Description:{{ each['description'] }}</p>
        <button onclick=window.location.href="{{ url_for('get_answers_qid', q_id=each['q_id']) }}">Answers</button>
        <button onclick=window.location.href="{{ url_for('modify_question', user_id=each['user id'],question_id=each['q_id']) }}">Modify Question</button>
        <button onclick=window.location.href="{{ url_for('delete_question', q_id=each['q_id']) }}">Delete Question</button>
        </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <h1>Your answers</h1>
    {% if "message" in all_answers %}
    <div><h3>{{all_answers['message']}}</h3></div>
    {% else %}
        {% for each_question, each_answer in all_answers.items() %}
            <div><p><b> Question title: {{each_question}}</b></p></div>
            {% for answer_id, answer in each_answer.items() %}
                <div><p><b> Answer: </b></p>{{answer}}</div>
            <button onclick=window.location.href="{{ url_for('modify_answer', answer_id=answer_id)}}">Modify</button>
            <button onclick=window.location.href="{{ url_for('delete_answer', answer_id=answer_id) }}">Delete</button>
            {% endfor %}
    {% endfor %}
    {% endif %}
    


    <h1>All Questions</h1>
    {% if "No question" in all_questions %}
    <div><h3>{{all_questions}}</h3></div>
    {% else %}
    {% for each_question in all_questions %}
        
        <div><p><b>Title: {{ each_question['title'] }}</b> <br> Description:{{ each_question['description'] }}</p></div>
        <button onclick=window.location.href="{{ url_for('get_answers_qid', q_id=each_question['q_id']) }}">See Answers</button>
        <button onclick=window.location.href="{{ url_for('post_answer', q_id=each_question['q_id']) }}">Post Answer</button>

    {% endfor %}
    {% endif %}
    {% endblock %}

